/*
CSS Credit: http://www.Ftemplate.ru
*/

body {
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	background: #272525 url(images/templatemo_top_bg.jpg) repeat-x;
}

a:link, a:visited { color: #FFFFFF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { text-decoration: underline; outline: none;  }

p {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_10 { margin-right: 10px; }
.margin_right_60 { margin-right: 60px; }

.horizontal_divider {
	background: url(images/templatemo_horizontal_divider.jpg) bottom repeat-x;
}

.border_bottom {
	border-bottom: 1px dashed #000;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.rc_btn_01{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;

}
a.rc_btn_01:hover:not(:active) {
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
	text-decoration: none;
}
a.rc_btn_01:active {
	text-decoration: none;
	top: 1px;
	background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
	box-shadow:
		0 0 1px rgba(0,0,0,.5) inset,
		0 2px 3px rgba(0,0,0,.5) inset,
		0 1px 1px rgba(255,255,255,.1);
}



#templatemo_wrapper_outer {
	width: 100%;
	margin: 0 auto;
}

#templatemo_wrapper_inner {
	width: 980px;
	margin: 0 auto;
	padding: 0 0 0 5px;
	background: url(images/templatemo_wrapper_bg.png) repeat-y;
}



/* menu */

#templatemo_menu {
	clear: both;
	width: auto;
	height: 65px;
	
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	
	align:center;
	margin: auto;
	padding: 20px 0 0 15px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
	width:100px;
}

#templatemo_menu ul li a {
	float: left;
	padding: 0 20px;
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #999999;	
	font-weight: bold;
}

#templatemo_menu  li a:hover, #templatemo_menu  li .current {
	color: #FFF;
	
}
/* end of menu*/

#templatemo_content_wrapper {
	clear: both;
	width: 960px;
	padding: 10px 0px 10px 10px ;
}

.templatemo_content {
	margin:auto;
	width: auto;
	padding: 20px 19px 0 19px;
	background: #1b1919;
	border: 1px solid #363434;
	min-height: 600px;

}

.header_01 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}


.header_02 {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	/*color: #e40b0b;*/
}

.header_03 {
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	/*color: #99be29;*/	
}

.header_03 a { color: #ffffff; text-decoration: none; }
.header_03 a:hover { color: #99FF00; }

.content_section {
	clear: both;
	padding: 10px 0 10px 0;
	width: auto;
	border-bottom: 1px solid #363434;
}

.content_section p span {
	color: #ffffff;
}

.article{
	min-height:100px;
    width: 100%;
	margin-bottom: 50px;
}

.coments {
	margin-top:40px;
}

.coment {
    font-size: 12px;
	color: #999;
	border-bottom: solid 1px;
}

.image_wrapper_01 {
	float: left;
	position: relative;
	margin: 3px 20px 0 0;
	background: #131212;
	padding: 4px;
}

.image_wrapper_01 img {
	border: 1px solid #363434;
}

.image_wrapper_02 {
	position: relative;
	margin: 0 0 10px 0;
	background: #131212;
	padding: 4px;
}

.image_wrapper_02 span {
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 10px;
	right: 10px;
	background: url(images/templatemo_play_icon.jpg) no-repeat;
}

.image_wrapper_02:hover span {
	background: url(images/templatemo_play_icon_hover.jpg) no-repeat;
}

.image_wrapper_02 img {
	border: 1px solid #363434;
}

.image_wrapper img {
	border: 1px solid #363434;
}

.latest_news {
	clear: both;
	padding-bottom: 10px;
}

#templatemo_footer {
	clear: both;
	width: 990px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: center;
	background: url(images/templatemo_footer.jpg) no-repeat;
}

.article_date{
	text-align:right;
}
.autor_article{
	text-align:right;
}
#coment_form{
	width: 100%;
	color: #EEE;
}
#coment_form input, #coment_form textarea{
	border:1px solid #9E9E9E;
    color: #EEE;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #333;
	width: 300px;
}