<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Test sait" />

    <title>{% block title %} Home page{% endblock %}</title>

    <link href="media/css/bootstrap.min.css" rel="stylesheet">
    <link href="media/templatemo_style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="media/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="media/jquery.form.js"></script>
    <script type="text/javascript" src="media/jquery_my.js"></script>
    {% block skript %}{% endblock %}

</head>
<body>
<div id="templatemo_wrapper_outer">
    <div id="templatemo_wrapper_inner">
        {% block header_wrapper %}

        {% endblock %}

        {% block menu_wrapper %}
            <div id="templatemo_menu">
                <ul>
                    <li><a href="/blog_app/home" >Главная</a></li>
                    <li><a href="/blog_app/article" >Статьи</a></li>
                    <li><a href="/blog_app/about_me">О себе</a></li>
                    <li><a href="/blog_app/contacts">Контакты</a></li>
                </ul>
            </div> <!-- end of menu -->
        {% endblock %}

        {% block content %}
            <div id="templatemo_content_wrapper">
                <div class="templatemo_content margin_right_10">

                    {% block article %}
                        Этот сайт был создан в учебных целях
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer_content %}

        {% endblock %}
    </div>
</div>
{% block footer %}
 <div id="templatemo_footer">
        Copyright © 2024 <a href="#">Your Company Name</a> | Designed by <a href="http://www.Ftemplate.ru" target="_parent">Free CSS Templates</a>
   	</div> <!-- end of footer -->

{% endblock %}

</body>
</html>
