{% extends "base.html" %}

{% block title %}blog{% endblock %}


{% block article %}
    <div style="text-align: center">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}&sort={{ ordering }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}&sort={{ ordering }}">next</a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8 offset2"></div>
        <div class="col-md-4 " style="text-align: right;">Сортировать по:
            <span style="margin-left: 10px;"><a
                    {% if ordering == 'coments__count' %}
                        href="?sort=-coments__count"

                    {% elif ordering == '-coments__count' %}
                        href="?sort=coments__count"

                    {% else %}
                        href="?sort=coments__count"
                        style="color: #999"
                    {% endif %}  id="sort_coment">коментариям</a>
            </span>

            <span> | </span><a
                    {% if ordering == 'date_publication' %}
                        href="?sort=-date_publication"
                    {% elif ordering == '-date_publication' %}
                        href="?sort=date_publication"
                    {% else %}
                        href="?sort=date_publication"
                        style="color: #999"
                    {% endif %} id="sort_date" >дате</a>
        </div>
    </div>


{% for entry in page %}
            <div class="content_section">
           	  <div class="header_02"><a href='/blog_app/article/{{ entry.id }}/'>{{ entry.article_title }}</a></div>
              <div class="image_wrapper_01"><img src="media/images/templatemo_image_02.jpg" alt="image" /></div>
                <p>{{ entry.article_text|truncatechars:20 }} </p>
			  <div class="margin_bottom_20"></div>

				<div class="row">
                    <div class="col-sm-8">
					    <a href='/blog_app/article/{{ entry.id }}/' class="rc_btn_01">Прочитать статью</a>
                        <span style="margin-left: 20px;"><a href='/blog_app/article/{{ entry.id }}/'>коментариев:{{ entry.coments_set.count }}</a></span>
                    </div>
					<div class="col-sm-4 autor_article">Опубликованно: C5uJI
                        <span> | </span>{{ entry.date_publication }}</div>

				</div>

                <div class="cleaner"></div>
            </div>
{% endfor %}

        	<div class="margin_bottom_40"></div>
        </div> <!-- end of content -->

{% endblock %}

