{% extends "base.html" %}
{% block skript %}
    <script>
        function value_parent(id){
            document.getElementsByName("parent_id")[0].value=id;
        }
    </script>
{% endblock %}


{% block article %}
    <div id="all_coments">
        {% for empty in page %}
            <div class="coment" style="margin:0 0 20px {{ empty.html_level_full }}" id="coment_{{ empty.id }}">
                {{ empty.autor_coment }}:
                <div style="padding-left: 50px">{{ empty.coment_text }}</div>
                <div>
                    {{ empty.date_coment }}
                    <span> | </span> <a href="#metka" onclick="value_parent({{ empty.id }})">ответить</a>
                    {% if  empty.level >= 30 %}
                        <span> |
                            <a href="/blog_app/detail_coment/{{ empty.path }}/{{ empty.article.id }}" style="text-align: right;">Прочитать ветку</a>
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


    <div>
            <a name=metka></a>
                <form action="" method="post" name="ComentsForm" id="coment_form" >
                    {% csrf_token %}
                    {{ form.parent_id }}
                   <div class="row">
                       <div class="col-sm-1"><label for="id_name">Имя:</label></div>
                       <div class="col-sm-11">{{ form.name }}</div>
                   </div>
                    <div class="row">
                    <div class="col-sm-1"><label for="id_email">Почта:</label></div>
                       <div class="col-sm-11">{{ form.email }}</div>
                    </div>
                    <div class="row">
                    <div class="col-sm-1"><label for="id_message">Текст:</label></div>
                        <div class="col-sm-11">{{ form.message }}</div>
                    </div>
                    <div class="row">
                    <div class="col-sm-1 offset"></div>
                       <div class="col-sm-11" > <a href='#on' class="rc_btn_01" id="test">Отправить коментарий</a></div>
                    </div>

                </form>
            </div>
        </div>
{% endblock %}