{% extends "base.html" %}
{% block skript %}<script>
function value_parent(id){
    document.getElementsByName("parent_id")[0].value=id;

}


    </script>
{% endblock %}


{% block article %}

<div id="content">
    <div class="post">
        <div class="row">
            <div class="col-sm-10">{{ article_detailed.date_publication }}</div>
            <div class="col-sm-2">Posted by C5uJI</div>
        </div>
        <div class="header_02">{{ article_detailed.article_title }}</div>
        <div class="article">
            <img src="media/images/templatemo_image_02.jpg" alt="" class="image_wrapper_01" />
            {{ article_detailed.article_text }}</div>

            <div class="coments header_02">Коментарии к статье: </div>

                    <div style="text-align: center">
                        {% if page.has_previous %}
                            <a href="?page={{ page.previous_page_number }}&sort={{ ordering }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page.number }} of {{ page.paginator.num_pages }}.
                        </span>

                        {% if page.has_next %}
                            <a href="?page={{ page.next_page_number }}&sort={{ ordering }}">next</a>
                        {% endif %}
                    </div>



                <div id="all_coments">
                    {% for empty in page %}
                        <div class="coment" style="margin:0 0 20px {{ empty.html_level }}" id="coment_{{ empty.id }}">
                            {{ empty.autor_coment }}:
                            <div style="padding-left: 50px">{{ empty.coment_text }}</div>
                            <div>
                                {{ empty.date_coment }}
                                <span> | </span> <a href="#metka" onclick="value_parent({{ empty.id }})">ответить</a>
                                {% if  empty.level >= 15 %}
                                    <span> |
                                        <a href="/blog_app/detail_coment/{{ empty.path }}/{{ empty.article.id }}" >Прочитать ветку</a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>



        <div>
            <a name=metka></a>
                <form action="" method="post" name="ComentsForm" id="coment_form" >
                    {% csrf_token %}
                    {{ form.parent_id }}
                   <div class="row">
                       <div class="col-sm-1"><label for="id_name">Имя:</label></div>
                       <div class="col-sm-11">{{ form.name }}</div>
                   </div>
                    <div class="row">
                    <div class="col-sm-1"><label for="id_email">Почта:</label></div>
                       <div class="col-sm-11">{{ form.email }}</div>
                    </div>
                    <div class="row">
                    <div class="col-sm-1"><label for="id_message">Текст:</label></div>
                        <div class="col-sm-11">{{ form.message }}</div>
                    </div>
                    <div class="row">
                    <div class="col-sm-1 offset"></div>
                       <div class="col-sm-11" > <a href='#on' class="rc_btn_01" id="test">Отправить коментарий</a></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}